<add-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimisticAdd()"></add-form>
<h2>
  List of users:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
    <button class="btn btn-info" [routerLink] = "['/update-form', key]">Update</button>
    <a [routerLink] = "['/user', key]">{{'user number '+key+' '+users[key].username +" "+ users[key].email}}</a>
  </li>
</ul>
