<h2>Add Message: </h2>
<form [formGroup] = "addform" (ngSubmit) = "sendData()">
  <div>
    <label for="message"></label>
    <input type="text" name="message" id="message" class="form-control" formControlName = "message" required>
    <div *ngIf="!addform.controls.message.valid" class="alert alert-danger">
      	      Please add message
    </div>  
  </div>
  <div>
    <label for="user_id"></label>
    <input type="number" name="user_id" id="user_id" class="form-control" formControlName = "user_id" required>
    <div *ngIf="!addform.controls.user_id.valid" class="alert alert-danger">
      Please add user id
    </div> 
  </div>
  <br>
  <input type="submit" value="Post Message" class="btn btn-primary" [disabled]="!addform.valid" >
</form>
