<add-form-message (addMessage) = "optimisticAdd($event)" (addMessagePs) = "pessimisticAdd()"></add-form-message>
<h2>
  List of messages:
</h2>
<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of messagesKeys">
   <!-- <button class="btn btn-danger" (click) = "deleteMessage(key)">Delete</button>-->
    <a>{{'message number '+key+' '+messages[key].body +" "+ messages[key].user_id}}</a>
  </li>
</ul>
